@charset "utf-8";

body {
  background-color: #d3d3d3 !important;
  margin: 0 auto;
  overflow-x: hidden !important;
  width: 1200px;
}
.header-middle,
.ulockd-department,
.ulockd-team,
.ulockd-team-two {
	background-color: #fff;
}
.ulockd-main-slider .caption {
	padding: 11% 16% !important;
}
.ulockd-main-slider .caption.style2 {
	padding: 13% 12% !important;
}
.ulockd-main-slider2 .caption {
	padding: 14% 15% !important;
}