@charset "utf-8";

/*******
Project/Theme Name:  eHospital
Theme Url:  https://themeforest.net/item/
Author: unlockdesign
Author Url: https://themeforest.net/user/unlockdesign
Version: 1.0
Description: eHospital - Health & Medical  HTML Template
Tag: Ambulance, Bootstrap, Business, Clinic, Creative, Corporate, Dental, Doctor, Gynecology, Health, Health Care, Hospital, Medical, Medical Theme, Medical Site Template, Retail etc

********/

/* ----- BODY CONTENT ----- */
/* ----- TYPHOGRAPHY FONTS ----- */
/* ---------- SECTION ---------- */
/* ---------- HEADER TOP ---------- */
/* ---------- NEW  HEADER  ---------- */
/* ---------- INNER HEADER  ---------- */
/* ---------- Main Slider  ---------- */
/* Main Slider Style 2 */
/* ---------- SCROLL TO TOP/HOME ---------- */
/* ---------- FIRST SERVICE SECTION  ---------- */
/* ---------- FIRST ABOUT SECTION  ---------- */
/* ---------- FIRST FEATURE PROJECT ONE  ---------- */
/* ---------- FIRST SERVICE  ---------- */
/* ---------- SECOND SERVICE  ---------- */
  /* Blog Details Pages */
  /* TESTIMONIAL CAROUSEL LAYOUT 2 */
  /* BLOG POST SINGLE SECOND POST*/
/* ---------- SECOND SERVICE  ---------- */
/* ---------- DEPARTMENT SECTION  ---------- */
/* ---------- WELCOME SECTION  ---------- */
/* ---------- DIVIDER SECTION  ---------- */
/* ---------- OUR LASTEST WORK SECTION  ---------- */
/* ---------- FUNFACT COUNTER SECTION  ---------- */
/* ---------- ABOUT SECTION  ---------- */
/* ---------- About BOTTOM VIDEO SECTION  ---------- */
/* ---------- MASONRY FILTER  ---------- */
  /* ---------- MASONRY GALLERY  ---------- */
/* ---------- PROJECT LAYOUT TWO  ---------- */
/* ---------- OUT TEAM SECTION  ---------- */
/* ---------- OUT TEAM LAYOUT TWO SECTION  ---------- */
/* ---------- OUR TESTIMONIALS SECTION  ---------- */
/* ---------- BLOG SECTION  ---------- */
/* ---------- PARTNER SECTION  ---------- */
/* ---------- FOOTER SECTION  ---------- */
  /* INNER PAGES START HERE */

/* CSS Document */
@import "jquery-ui.min.css";
@import "font-awesome.min.css";
@import "font-awesome-animation.min.css";
@import "flaticon.css";
@import "animate.css";
@import "bootsnav.css";
@import "fullcalendar.min.css";
@import "slider.css";
@import "hover.css";
@import "fancyBox.css";
@import "jquery.flickr.css";
@import "owl.css";
@import "isotop.css";
@import "magnific-popup.css";
@import "flipclock.css";
@import "timecounter.css";
@import "style-shortcode.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300i,400,500,700);


/* ----- BODY CONTENT ----- */
::selection {
  background: #232323;
  color: #ffffff;
  text-shadow: none;
}
::-moz-selection {
  /* Firefox */
  background: #232323;
  color: #ffffff;
  text-shadow: none;
}
::-webkit-selection {
  /* Safari */
  background: #232323;
  color: #ffffff;
  text-shadow: none;
}
body {
  background-attachment: fixed;
  color: #313131;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
  max-width: 100%;
  overflow-x: hidden !important;
  transition: inherit;
}
img {
  max-width: 100%;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
iframe {
  border: none;
  width: 100%;
}
a {
  color: #555555;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333333;
  text-decoration: none;
}
a img {
  border: none;
}
iframe {
  border: none;
}
/* ---------- TYPHOGRAPHY FONTS ---------- */
h3,h4,h5,h6  {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.42857143;
  color: #313131;
}
h2 {
  line-height: 1.42857143;
  color: #313131;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
.img-whp {
  width: 100% !important;
}
.text-thm2 {
  color: #14b8fd !important;
}
.color-white {
  color: #fff !important;
}
.ulockd-btn-thm {
  border-radius: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ulockd-btn-thm {
  color: #fff;
  padding: 10px 35px;
}
.ulockd-btn-thm:hover,
.ulockd-btn-thm:active,
.ulockd-btn-thm:focus {
  background-color: #313131;
  border-color: #313131;
  color: #fff;
}
/* Style Two Button */
.ulockd-btn-thm2 {
  border-radius: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ulockd-btn-thm2 {
  background-color: #14b8fd;
  border-color: #14b8fd;
  color: #fff;
}
.ulockd-btn-thm2:hover,
.ulockd-btn-thm2:active,
.ulockd-btn-thm2:focus {
  background-color: #313131;
  border-color: #313131;
  color: #fff;
}
.ulockd-btn-styledark {
  background-color: #313131;
  border-color: #313131;
  color: #fff;
  border-radius: 0px;
  padding: 10px 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ulockd-btn-styledark:hover,
.ulockd-btn-styledark:active,
.ulockd-btn-styledark:focus {
  background-color: #14b8fd;
  border-color: #313131;
  color: #fff;
}
.ulockd-btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #313131;
  border-radius: 0px;
  padding: 10px 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ulockd-btn-white:hover,
.ulockd-btn-white:active,
.ulockd-btn-white:focus {
  background-color: #14b8fd !important;
  border-color: #14b8fd !important;
  color: #fff;
}
.ulockd-btn-gray {
  background-color: #D3D3D3;
  border-color: #D3D3D3;
  color: #313131;
  border-radius: 0px;
  padding: 10px 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ulockd-btn-gray:hover,
.ulockd-btn-gray:active,
.ulockd-btn-gray:focus {
  background-color: #14b8fd !important;
  border-color: #14b8fd !important;
  color: #fff;
}
.btn-default {
  font-size: 14px;
}
/* ---------- SECTION ---------- */
section {
  position: relative;
}

/* ---------- PRELOADER ---------- */
.preloader { background-color:#ffffff; background-image:url("../images/preloader.gif"); background-position:center center; background-repeat:no-repeat; height:100%; left:0px; position:fixed; top:0px; width:100%; z-index:999999;}

/* ---------- HEADER TOP ---------- */
.header-top {
  background: #313131 none repeat scroll 0 0;
  padding: 10px 0 0;
}
.welcm-ht-two {
  color: #fff;
}
.header-top-two {
  background: #444 none repeat scroll 0 0;
  padding-bottom: 5px;
  padding-top: 15px;
}
.header-top-two span{
  color: #fff;
  font-weight: 400;
}
.ulockd-htpmz{
  padding: 0;
}
.welcm-ht {
  position: relative;
}
.ulockd-welcntxt {
  color: #fff;
  text-transform: capitalize;
}
form.ulockd-login-form,
form.ulockd-reg-form {
  background-color: #f6f6f6;
  padding: 10px 30px 40px;
}
.ulockd-login-form input,
.ulockd-reg-form input {
  border-radius: 0;
  box-shadow: none;
  height: 40px;
}
.social-linked {
  position: relative;
}
.social-linked li {
  padding: 0;
}
.social-linked a {
  color: #fff;
  font-size: 14px;
  padding: 5px 9px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-linked a:hover {
  background: #14b8fd;
}
/* social linked two */
.social-linked-two{
  position: relative;
  margin-top: 3px;
}
.social-linked-two li {
  padding: 0;
}
.social-linked-two a {
  border:1px solid;
  color: #fff;
  font-size: 14px;
  padding: 3px 9px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-middle{
  padding-top: 35px;
  padding-bottom: 20px;
}
.ulockd-ohour-info .ulockd-icon {
  border: 2px solid #a4cb3a;
  color: #a4cb3a;
  font-size: 26px;
  margin-right: 16px;
  padding: 3px 10px;
}
.ulockd-contact-info .ulockd-icon{
  border: 2px solid #a4cb3a;
  color: #a4cb3a;
  font-size: 26px;
  margin-right: 16px;
  padding: 3px 10px;
}
.ulockd-contact-info .ulockd-info {
  padding-right: 25%;
}
.ulockd-contact-info .ulockd-info > h3,
.ulockd-ohour-info .ulockd-info > h3 {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 12px;
}
.ulockd-cell,
.ulockd-addrss {
  color: #555;
  font-family: 'Montserrat', sans-serif;
}
.main-header-nav{
  position: relative;
}
.ulockd-main-logo > img {
  margin-top: 10px;
}
.ulockd-main-logo2 > img {
  margin-top: 5px;
}
/* Language Button */
.dropbtn {
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 6px 0;
  width: 85px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #a9a9a9
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* style two */
.ulockd-mrgn120 {
  margin-top: 0px;
}
.ulockd-mrgn1225 {
  margin-top: 25px !important;
}
.ulockd-mrgn650 {
  margin-bottom: 50px !important;
}
.ulockd-mrgn65 {
  margin-bottom: 5px;
}
.ulockd-mrgn615 {
  margin-bottom: 15px;
}
.ulockd-mrgn120 {
  margin-top: 0px;
}
.ulockd-mrgn1210 {
  margin-top: 10px;
}
.ulockd-mrgn1215 {
  margin-top: 15px;
}
.ulockd-mrgn1220 {
  margin-top: 20px;
}
.ulockd-mrgn1250 {
  margin-top: 50px;
}
.ulockd-mrgn30 {
  margin-right: 0px;
}
.ulockd-mrgn310 {
  margin-right: 10px;
}
.ulockd-mrgn315 {
  margin-right: 15px;
}
.ulockd-mrgn60 {
  margin-bottom: 0px;
}
.ulockd-mrgn610 {
  margin-bottom: 10px;
}
.ulockd-mrgn615 {
  margin-bottom: 15px;
}
.ulockd-mrgn620 {
  margin-bottom: 20px;
}
.ulockd-mrgn625 {
  margin-bottom: 25px !important;
}
.ulockd-mrgn630 {
  margin-bottom: 30px;
}
.ulockd-mrgn640 {
  margin-bottom: 40px;
}
.ulockd-mrgn650 {
  margin-bottom: 50px;
}
.ulockd-mrgn90 {
  margin-left: 0px;
}
.ulockd-mrgn910 {
  margin-left: 10px;
}
.ulockd-mrgn915 {
  margin-left: 15px;
}
.ulockd-mrgn920 {
  margin-left: 20px;
}
/* ---------- NEW  HEADER  ---------- */
nav.navbar.bootsnav.menu-style1{
  border: none;
  position: relative;
}
nav.navbar.bootsnav.menu-style1 ul.nav > li > a{
  padding: 30px 15px;
}
nav.navbar.bootsnav ul.nav > li > a{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav.navbar.bootsnav ul.nav > li > a{
  color: #fff;
}
.navbar.bootsnav .nav.navbar-nav .dropdown li a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav.navbar.bootsnav ul.nav > li > a.active,
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover,
.attr-nav > ul > li > a {
  color: #313131;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
  color: #313131;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover{
  padding-left: 20px;
}
nav.navbar.bootsnav.ulockd-menu-style2 li.dropdown ul.dropdown-menu > li > a{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.navbar.bootsnav.ulockd-menu-style2 li.dropdown ul.dropdown-menu > li > a:hover{
  padding-right: 20px;
}
nav.navbar.bootsnav ul.nav > li > a{
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
nav.navbar.bootsnav.ulockd-menu-style2 {
  border: none;
}
.header-nav .main-header-nav.navbar-scrolltofixed{
  background: #a4cb3a;
}
.navbar-sticky.navbar-scrollspy.light-blue {
  background-color: #14b8fd;
}
.menu-style1 #navbar-menu {
  background-color: #a4cb3a;
}

/* Menu Color  */

/* Navbar Dropdown Background Color */

.attr-nav > ul > li > a span.badge {
  padding: 3px 0 0;
}
nav.navbar.bootsnav ul.nav > li > a.active,
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:focus {
  color: #111;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
  border: none;
}
nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content h5.title {
  color: #fff;
}
.dropdown-menu.cart-list a {
  color: #fff;
}
.total a.btn.btn-default.btn-cart{
  color: #313131 !important;
}
.dropdown-menu.cart-list p,
.dropdown-menu.cart-list p .price{
  color: #fff;
}
/* Mega Menu */
nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content .content ul.menu-col li a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content .content ul.menu-col li:hover a{
  color: #313131;
  padding-left: 10px;
}
.navbar-brand{
  padding: 3px;
}
.attr-nav > ul > li > a{
  color: #fff;
}
.ulockd-quote-btn.ulockd-l2 {
  margin-right: 5%;
}

/* ---------- INNER HEADER  ---------- */
.ulockd-quote-btn{
  margin-right: 11%;
  position: relative;
}
/* Side Menu */
nav.menu-style1 .side .widget ul.link li a{
  font-family: 'Montserrat', sans-serif;
}
.ulockd-quote-btn.ulockd-l2 .ulockd-qb2 {
  margin-top: -52%;
}
.ulockd-quote-btn a {
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 42px;
  text-transform: uppercase;
}
/* Style two */
.ulockd-quote-btn-two a {
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
}
/* ---------- Main Slider  ---------- */
.ulockd-main-slider {
  position: relative;
}
.ulockd-main-slider .caption {
  padding: 13% 22%;
}
.ulockd-main-slider .caption.style2 {
  padding: 14% 21%;
}
.ulockd-main-slider .caption.style1{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ulockd-main-slider .caption.style2{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ulockd-main-slider .caption.style3{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ulockd-main-slider .ulockd-slider-text1 {
  color: #313131;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}
.ulockd-main-slider .ulockd-slider-text2 {
  color: #313131;
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
}
.ulockd-main-slider .ulockd-slider-text3 p {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  padding: 5px 10px;
}
.ulockd-main-slider .owl-next {
  background: #999 !important;
  border: 2px solid #a4cb3a;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 40%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.ulockd-main-slider .owl-next:hover,
.ulockd-main-slider .owl-prev:hover{
background-color: #a4cb3a !important;
}
.ulockd-main-slider .owl-next i,
.ulockd-main-slider .owl-prev i {
  font-family: FontAwesome;
  font-size: 24px;
  font-style: normal;
  padding: 4px;
}
.ulockd-main-slider .owl-prev{
  background: #999 !important;
  border: 2px solid #a4cb3a;
  position: absolute;
  left: 10px;
  text-align: center;
  top: 40%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.ulockd-home-btn {
  border-radius: 30px;
}
/* Main Slider End */

/* Main Slider Style 2 */
.ulockd-main-slider2 {
  position: relative;
}
.ulockd-main-slider2 .caption.style1{
  background-image: url("../images/home/h1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ulockd-main-slider2 .caption.style2{
  background-image: url("../images/home/h5.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ulockd-main-slider2 .caption.style3{
  background-image: url("../images/home/h4.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ulockd-main-slider2 .caption {
  padding: 14% 21%;
}
.ulockd-main-slider2 .ulockd-slider-text1 {
  color: #313131;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}
.ulockd-main-slider2 .ulockd-slider-text2 {
  color: #313131;
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
}
.ulockd-main-slider2 .ulockd-slider-text3 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.ulockd-main-slider2 .owl-next {
  background: transparent none repeat scroll 0 0 !important;
  border: 2px solid #14b8fd;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 40%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.ulockd-main-slider2 .owl-next:hover,
.ulockd-main-slider2 .owl-prev:hover{
  background-color: #14b8fd !important;
  color: #fff !important;
}
.ulockd-main-slider2 .owl-next:hover i,
.ulockd-main-slider2 .owl-prev:hover i{
  color: #fff;
}
.ulockd-main-slider2 .owl-next i,
.ulockd-main-slider2 .owl-prev i {
  color: #14b8fd;
  font-size: 24px;
  font-style: normal;
  font-family: FontAwesome;
  padding: 4px;
}
.ulockd-main-slider2 .owl-prev {
  background: transparent !important;
  border: 2px solid #14b8fd;
  position: absolute;
  left: 10px;
  text-align: center;
  top: 40%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.ulockd-main-slider2 p {
  border-radius: 10px;
  color: #313131;
  font-size: 18px;
  padding: 5px 10px;
}
.ulockd-home-btn {
  border-radius: 30px;
}
/* Main Slider End */

/* ---------- SCROLL TO TOP/HOME ---------- */
.scrollToHome:hover {
  color: #ffffff;
  background-color: #232323;
}
.scrollToHome {
  border: 2px solid #fff;
  bottom: 20px;
  color: #ffffff;
  display: none;
  font-size: 20px;
  padding: 3px 10px;
  position: fixed;
  right: 20px;
  text-align: center;
  z-index: 99999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* ---------- HOME PARALLAX ---------- */
  .home-parallax {
    background-attachment: scroll !important;
    background-color: transparent;
    background-image: url("../images/background/3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .unlockd-transparent-white {
    background-color: rgba(255, 255, 255, 0.5)
  }
  .home-title2 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 32%;
  }
  .home-text {
    font-size: 18px;
  }
  .ulockd-pad1260 {
    padding-top: 60px;
  }

/* ---------- FIRST SERVICE SECTION  ---------- */
  .ulockd-service {
    padding: 50px 0;
    margin-top: -11px;
  }
  .ulockd-service-box .title,
  .ulockd-service-box p,
  .ulockd-service-box .icon {
    color: #fff;
  }
  .ulockd-service-box {
    border-bottom: 2px solid #f7f7f7;
    border-radius: 20px;
    border-right: 2px solid #f7f7f7;
    padding: 20px 30px;
  }
  .ulockd-service-box:hover {
    cursor: pointer;
  }
  .ulockd-service-box:last-child {
    padding: 20px;
  }
  .ulockd-service-box .icon {
    font-size: 48px;
  }
  .ulockd-service-one {
    background-image: url("../images/pattern/p3.html");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .ulockd-service-one::before {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
/* ---------- FIRST ABOUT SECTION  ---------- */
.ulockd-about-one {
  background-attachment: fixed;
  background-image: url("../images/pattern/p1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}
.ulockd-about-one:before {
  background-color: rgba(255, 255, 255, 0.75);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.ulockd-about-one.inner{
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.ulockd-about-thumb {
  position: relative;
}
.ulockd-about-thumb-ttl {
  background: white none repeat scroll 0 0;
  left: -33%;
  padding: 5px 8px;
  position: absolute;
  top: 146px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.ulockd-at-slider .owl-dots span {
  height: 5px !important;
  width: 25px !important;
}
.ulockd-about-ondetials {
  background-color: rgba(255, 255, 255, 0.7);
  color: #fff;
  padding: 25px 60px;
  z-index: 0;
}
.ulockd-abtonspc {
  padding: 0;
}
.ulockd-about-detail > h2 {
  margin-top: 0;
}
.ulockd-about-ondetials > h2 {
  color: #313131;
  margin-top: 0;
}
.ulockd-about-ondetials > p {
  color: #313131;
}
.ulockd-abt-ondtls-para {
  margin-bottom: 25px;
  margin-top: 20px;
}
.ulockd-fstabt-list{
  margin-top: 20px;
}
.ulockd-fstabt-list > li {
  color: #313131;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  list-style-image: url("../images/resource/list-thumb.png");
  margin-left: 40px;
  padding-left: 5px;
}
.ulockd-fstabt-list > li:hover a{
  cursor: pointer;
  padding-left: 15px;
}
.ulockd-fstabt-list > li a {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.ulockd-fstabt-list > li a {
  vertical-align: super;
}
.ulockd-about2 {
  padding: 50px 0;
}
/* ---------- FIRST FEATURE PROJECT ONE  ---------- */
  .ulockd-feature-phoject-one {
    background-color: #f1f1f1;
    padding-top: 90px;
    padding-bottom: 100px;
    position: relative;
  }
  .ulockd-cp-title {
    position: relative;
    padding-bottom: 30px;
  }
  .ulockd-cp-title h2 {
    color: #111;
    margin-top: 0;
  }
  .ulockd-srvcs-column{
    background-color: #f0f5f7;
    padding-bottom: 15px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .ulockd-srvcs-column:hover {
    background-color: #14b8fd;
    cursor: pointer;
  }
  .ulockd-srvcs-column:hover .ulockd-srvcs-overlay {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
  .ulockd-srvcs-column:hover .ulockd-srvc-contnt > h3,
  .ulockd-srvcs-column:hover .ulockd-srvc-contnt > p {
    color: #fff;
  }
  .ulockd-srvcs-column .ulockd-srvcs-thumb {
    position: relative;
    overflow: hidden;
  }
  .ulockd-srvcs-overlay {
    border: 1px solid #fff;
    border-radius: 0 20%;
    bottom: 10px;
    left: 10px;
    margin: auto;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .ulockd-srvcs-icon {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45%;
  }
  .ulockd-srvcs-icon a {
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    padding: 5px 10px;
    text-transform: uppercase;
  }
  .ulockd-srvc-contnt {
    padding: 0 10px;
  }
  .ulockd-srvc-contnt > h3, .ulockd-srvc-contnt > p{
    color: #313131;
  }
  /* service page2 */
  .ulockd-service-col:hover {
    cursor: pointer;
  }

/* ---------- FIRST SERVICE  ---------- */
  .ulockd-service-two {
    background-attachment: scroll !important;
    background-color: transparent;
    background-image: url("../images/background/1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 110px;
    padding-bottom: 100px;
    z-index: 1;
  }
  .ulockd-service-two::before {
    background-color: rgba(255, 255, 255, 0.95);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .ulockd-srvc-title {
    position: relative;
    margin-bottom: 70px;
  }
  .ulockd-srvc-title:hover {
    cursor: pointer;
  }
  .ulockd-srvc-title h2 {
    color: #111;
    margin-top: 0;
  }
  .ulockd-srv-icon {
    padding: 10px;
  }
  .ulockd-srvc-column{
    margin-bottom: 45px;
  }
  .ulockd-srvc-column .ulockd-srv-icon {
    color: #fff;
    font-size: 36px;
    margin-top: 9px;
    padding: 8px 13px;
    position: relative;
  }
  .ulockd-srvc-column:hover {
    cursor: pointer;
  }
  .ulockd-srvc-column:hover .ulockd-srvc-details h3{
    color: #14b8fd;
  }
  .ulockd-srvc-column.style4 .ulockd-srvc-details {
    padding-left: 14%;
  }
  .ulockd-srvc-details {
    padding-left: 21%;
    padding-top: 0;
  }
  .ulockd-srvc-details h3 {
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  .ulockd-srvc-details > p {
    color: #333;
  }
  .ulockd-cp-title .ulockd-fpmain-icon{
    font-size: 415px;
    opacity: 0.05;
    position: absolute;
    right: -100%;
    top: -70%;
  }
/* ---------- SECOND SERVICE  ---------- */
  .ulockd-ap-service-two {
    background-image: url("../images/resource/inner-pagebg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 100px;
  }
  .ulockd-ap-service-two::before {
    background-color: rgba(10, 132, 184, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .ulockd-ap-srvc-title {
    position: relative;
    padding-bottom: 70px;
  }
  .ulockd-ap-srvc-title h2 {
    color: #111;
    margin-top: 0;
  }
  .ulockd-ap-srvc-title h2 span {
    color: #fff;
  }
  .ulockd-ap-srvc-title .ulockd-ap-srvc-hdr-icon {
    color: #fff;
    font-size: 80px;
    left: 0;
    margin: 0 auto;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: -45px;
  }
  .ulockd-ap-srv-icon {
    background-color: #393939;
    padding: 10px;
  }
  .ulockd-ap-srvc-column{
    margin-bottom: 45px;
    position: relative;
  }
  .ulockd-ap-srvc-column .ulockd-ap-srv-icon {
    color: #fff;
    float: left;
    font-size: 36px;
    margin-top: 9px;
    position: relative;
  }
  .ulockd-ap-srv-icon::before {
    background-color: #393939;
    border-left: 4px solid #fff;
    border-right: 10px solid #393939;
    content: "";
    height: 100%;
    left: -33%;
    position: absolute;
    top: 0;
    transform: skewX(9deg);
    -webkit-transform: skewX(9deg);
    -moz-transform: skewX(9deg);
    -o-transform: skewX(9deg);
    -ms-transform: skewX(9deg);
    width: 44%;
  }
  .ulockd-ap-srv-cntnt-details {
    padding-left: 21%;
    padding-top: 0;
  }
  .ulockd-ap-srv-cntnt-details h3 {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
  }
  .ulockd-ap-srv-cntnt-details > p {
    color: #fff;
  }
  /* ABOUT PAGE FAQ SECTION */
  .ulockd-ap-faq {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .ulockd-ap-faq-title.clearfix > h2 {
    margin-bottom: 25px;
    margin-top: 0;
    padding-top: 0;
  }
  .ulockd-faq-content .panel .panel-title a i,
  .ulockd-faq-box .panel .panel-title a i {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    text-align: center;
    width: 50px;
  }
  .ulockd-faq-content .panel-default > .panel-heading:hover a {
    color: #fff;
  }
  .ulockd-faq-content .panel-default > .panel-heading {
    background-color: #a4cb3a;
    border: medium none;
    border-radius: 0;
    color: #fff;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
  }
  .ulockd-faq-content .panel-default {
    border: none;
  }
  .ulockd-faq-content .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .ulockd-faq-box .panel .panel-title a .icon-1 {
    display: inline-block;
  }
  .ulockd-faq-box .panel .panel-title a.collapsed .icon-1 {
    display: none;
  }
  .ulockd-faq-box .panel .panel-title a .icon-2 {
    display: none;
  }
  .ulockd-faq-box .panel .panel-title a.collapsed .icon-2 {
    display: inline-block;
  }
  .ulockd-faq-box .panel-body {
    background: #f0f5f7 none repeat scroll 0 0;
    padding: 20px 25px;
  }
  /* Project Inner Pages */
  .ulockd-servces-one{
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .ulockd-servces-one .ulockd-srvcs-column {
    margin-bottom: 50px;
  }

  /* Team Inner Pages */
  .ulockd-team-one{
    padding-bottom: 80px;
    padding-top: 120px;
  }
  .ulockd-team-one.ulockd-ipage{
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .ulockd-team-one .ulockd-team-member{
    margin-bottom: 50px;
  }
  .ulockd-pesonar-info > li{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  /* Latest News Inner Pages */
  .ulockd-ip-latest-news{
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .ulockd-ip-latest-news .ulockd-ext-spc{
    margin-bottom: 50px;
  }

  /* Latest News Inner Pages */
  .ulockd-service-details{
    padding-bottom: 120px;
    padding-top: 100px;
  }
  .ulockd-pd-content > h3 {
    color: #333;
    margin-bottom: 15px;
  }
  .ulockd-mrgn1210 {
    margin-top: 10px;
  }
  .ulockd-ap-backgrndclr{
    background-color: #f5f5f5;
  }
  .ulockd-all-service {
    margin-top: 15px;
  }
  .ulockd-all-service a {
    padding: 10px 25px;
  }
  .ulockd-all-service a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 34px;
  }
  .ulockd-inr-brochure {
    background-color: #f5f5f5;
    margin-top: 35px;
    padding: 10px 30px;
  }
  .ulockd-inr-brochure > p {
    margin-bottom: 22px;
  }
  .ulockd-inr-brochure ul li a {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .ulockd-pdng0{
    padding: 0;
  }
  /* CONTACT PAGES */
  .ulockd-contact-page {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .ulockd-contact-form .ulockd-form-fg {
    border: 1px solid #e9e9e9;
    border-left: 2px solid #14B8FD;
    border-radius: 0;
    box-shadow: none;
    color: #a2a2a2;
    font-weight: 300;
    height: 40px;
    margin-bottom: 20px;
  }
  .ulockd-contact-form .ulockd-form-tb {
    border: 1px solid #e9e9e9;
    border-radius: 0;
    box-shadow: none;
    color: #a2a2a2;
    font-weight: 300;
  }
  .ulockd-contact-details {
    margin-bottom: 130px;
    margin-top: 10px;
  }
  .ulockd-contact-details > h3 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .ulockd-contact-details .ulockd-contact-place > li {
    background-color: #14b8fd;
    color: #fff;
    font-size: 45px;
    padding: 25px 39px;
  }
  .ulockd-contact-place li {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .ulockd-contact-place li:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
  }
  .ulockd-contact-form.ulockd-style-two {
    background: white none repeat scroll 0 0;
    box-shadow: 1px 3px 3px 1px #d3d3d3;
    -webkit-box-shadow: 1px 3px 3px 1px #d3d3d3;
    -moz-box-shadow: 1px 3px 3px 1px #d3d3d3;
    -o-box-shadow: 1px 3px 3px 1px #d3d3d3;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px 85px;
  }
  .ulockd-google-map.ulockd-style-two {
    margin-top: -9%;
    position: relative;
    z-index: -1;
  }
  .form-group.ulockd-contact-btn:hover button{
    color: #fff;
  }
  /* BOOKING FORM */
  .ulockd-booking {
    background-attachment: scroll !important;
    background-color: transparent;
    background-image: url("../images/background/3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .ulockd-booking-form {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 100px 120px;
  }
  .ulockd-booking-form.style2 {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px;
  }
  .ulockd-bf-area .form-control {
    border-radius: 0;
    box-shadow: none;
    height: 45px;
  }
  .ulockd-pad30 {
    padding-right: 0px;
  }

  /* Blog Details Pages */
  .ulockd-inr-testimonials {
    background-color: #f0f5f7;
    padding: 10px 25px;
  }
  .ulockd-inr-testimonials p {
    color: #313131;
  }
  .ulockd-inr-testimonials h3{
    color: #333;
    margin-bottom: 0;
  }
  .ulockd-lp{
    padding-top: 20px;
  }
  .ulockd-tag-list-title {
    margin-top: 50px;
  }
  .ulockd-tag-list-title > h3 {
    color: #333;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .ulockd-tag-list-details a {
    border: 1px solid;
    color: #313131;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 10px;
    padding: 5px 8px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .ulockd-tag-list-details li:hover a{
    background-color: #14b8fd;
    color: #fff;
  }
  .ulockd-bp-date {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 30px;
    margin-top: 25px;
    padding-bottom: 5px;
  }
  .ulockd-bp-date-innner {
    color: #939393;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
  .ulockd-bp-date-innner span {
    font-family: "Montserrat",sans-serif;
    font-size: 36px;
    font-weight: 500;
  }
  .ulockd-bp-comment {
    color: #949494;
    font-family: "Montserrat",sans-serif;
    margin-top: 11px;
  }
  .ulockd-bpd-thumb {
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .ulockd-latest-post {
    margin-bottom: 30px;
  }
  .ulockd-bb-dashed {
    border-bottom: 1px dashed #14b8fd;
    padding: 10px;
    width: 90%
  }
  article.ulockd-pd-content {
    border: 1px solid #eee;
    padding: 15px;
  }
  .blog-post-img-slider .owl-prev,
  .blog-post-img-slider .owl-next {
    font-size: 24px !important;
    padding: 5px 14px !important;
  }
  .blog-post-img-slider .owl-prev:hover,
  .blog-post-img-slider .owl-next:hover {
    background-color: #14b8fd !important;
    color: #fff;
  }
  /* TESTIMONIAL CAROUSEL LAYOUT 2 */
  .owl-carousel .owl-item img{width: auto;}
  /* BLOG POST SINGLE */
  .ulockd-bps-first,
  .ulockd-bps-second {
    margin-bottom: 50px;
  }
  .ulockd-bps-first .media-body > p {
    margin-bottom: 0;
  }
  .ulockd-bps-first .media {
    border: 1px solid #ededed;
    padding: 30px 50px 30px 30px;
  }
  .ulockd-bps-first .media-object {
    border: 1px solid #ededed;
    margin-top: 8px;
  }
  .ulockd-bps-first .media-heading {
    color: #6b6b6b;
    font-size: 18px;
    padding-right: 38px;
  }
  .ulockd-bps-first .media-heading span {
    color: #a6a6a6;
    font-size: 14px;
    line-height: 22px;
  }
  .ulockd-bpost-slider .item{
    margin: 15px;
  }
  .ulockd-bpost-slider .owl-controls{
    margin-top: 20px;
  }
  .ulockd-bpost-slider .owl-controls .owl-prev {
    left: 0;
  }
  .ulockd-bpost-slider .owl-controls .owl-next {
    right: 0;
  }
  .ulockd-bpost-slider .owl-controls .owl-prev,
  .ulockd-bpost-slider .owl-controls .owl-next {
    background-color: #313131;
    font-size: 24px;
    padding: 5px 10px;
    position: absolute;
    top: 40%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .ulockd-bpost-slider .owl-controls .owl-prev:hover,
  .ulockd-bpost-slider .owl-controls .owl-next:hover {
    background-color: #14b8fd;
  }

  /* FLICKR FEED STYLES */
  .flickr-photo {
    margin-top: 30px;
  }
  .flickr-photo > li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  /* BLOG POST SINGLE SECOND POST*/
  .ulockd-bps-second {
    margin-left: 20%;
    width: 80%;
  }
  .ulockd-bps-second .media-body > p {
    margin-bottom: 0;
  }
  .ulockd-bps-second .media {
    border: 1px solid #ededed;
    padding: 30px 50px 30px 30px;
  }
  .ulockd-bps-second .media-object {
    border: 1px solid #ededed;
    margin: 8px;
  }
  .ulockd-bps-second .media-heading {
    color: #6b6b6b;
    font-size: 18px;
    padding-right: 12px;
  }
  .ulockd-bps-second .media-heading span {
    color: #a6a6a6;
    font-size: 14px;
    line-height: 22px;
  }
  .ulockd-bps-contact-form > h2 {
    color: #111;
  }
  .ulockd-bps-contact-form .ulockd-form-bps {
    border: 1px dashed #ccc;
    border-radius: 0;
    box-shadow: none;
    color: #a2a2a2;
    font-weight: 300;
    height: 40px;
    margin-bottom: 45px;
    padding: 0;
    padding-left: 15px;
  }
  .ulockd-bps-contact-form .ulockd-bps-textarea {
    border: 1px dashed #ccc;
    border-bottom-width: 1px;
    border-radius: 0;
    box-shadow: none;
    color: #a2a2a2;
    font-weight: 300;
    padding: 0;
    padding-left: 15px;
  }
  .ulockd-mrgn1240{
    margin-top: 40px;
  }
/* ---------- SECOND SERVICE  ---------- */
  .ulockd-title-icon {
    font-size: 90px;
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: -79px;
    z-index: 0;
  }
  .ulockd-service-three {
    padding-bottom: 70px;
    padding-top: 110px;
    margin-top: -10px;
  }
  .ulockd-srvc-title-two {
    position: relative;
    margin-bottom: 70px;
  }
  .ulockd-srvc-title-two:hover {
    cursor: pointer;
  }
  .ulockd-srvc-title-two h2 {
    color: #111;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin-top: 0;
    position: relative;
  }
  .ulockd-srv-icon-two {
    padding: 10px;
  }
  .ulockd-srvc-column-two {
    margin-bottom: 45px;
    overflow: hidden;
    padding-bottom: 25px;
    padding-top: 10px;
    position: relative;
  }
  .ulockd-srvc-column-two::before {
    color: #fff;
    content: "0";
    font-size: 250px;
    left: 0px;
    opacity: 0.12;
    position: absolute;
    right: 0;
    top: 0;
  }
  .ulockd-srvc-column-two .ulockd-srv-icon-two {
    color: #fff;
    font-size: 60px;
    margin-top: 9px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  .ulockd-srv-icon-two{
    padding-bottom: 0;
  }
  .ulockd-srvc-details-two {
    padding-top: 0;
  }
  .ulockd-srvc-details-two h3 {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  .ulockd-srvc-details-two > p {
    color: #818181;
  }
  .ulockd-cp-title .ulockd-fpmain-icon{
    font-size: 415px;
    opacity: 0.05;
    position: absolute;
    right: -100%;
    top: -70%;
  }

/* ---------- DEPARTMENT SECTION  ---------- */
  .ulockd-department {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .ulockd-department.ulockd-ipage {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .ulockd-dtitle {
    margin-bottom: 70px;
  }
  .ulockd-dtitle:hover {
    cursor: pointer;
  }
  .ulockd-dtitle.ulockd-ipage {
    margin-bottom: 40px;
  }
  .ulockd-department-box {
    background-color: #f0f5f7;
    border: 1px solid #f0f5f7;
    margin-bottom: 30px;
    position: relative;
  }
  .ulockd-department-box .db-thumb {
    position: relative;
    overflow: hidden;
  }
  .ulockd-department-box .db-overlayer {
    border: 1px solid #fff;
    border-radius: 0 20%;
    bottom: 10px;
    left: 10px;
    padding-top: 17%;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
  }
  .ulockd-department-box:hover {
    cursor: pointer;
  }
  .ulockd-department-box:hover .db-overlayer {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
  .ulockd-department-box .db-overlayer span {
    color: #fff;
    font-size: 48px;
  }
  .ulockd-department-box.style2 span {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
  }
  .ulockd-department-box h4 {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  .ulockd-department-box:hover h4 {
    color: #14b8fd;
  }
  .db-details {
    padding: 4px 12px;
  }

/* Parallax */
  .parallax {
    background-attachment: fixed;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    z-index: 1;
    position: relative;
  }

/* ---------- WELCOME SECTION  ---------- */
.ulockd-frst-divider {
  overflow-x: hidden;
  padding-bottom: 80px;
  padding-top: 90px;
  position: relative;
}
.ulockd-frst-divider::before {
  background-color: rgba(20, 184, 253, 0.9);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.ulockd-dvidr-mttl {
  color: #ffffff;
  font-size: 34px;
  margin-top: 0;
}
.ulockd-dvidr-sttl {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 0;
}
.ulockd-dvidr-btn {
  margin-top: 25px;
}
.ulockd-dvidr-btn a {
  padding: 15px 60px;
}
.ulockd-frst-divider::after {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  height: 100%;
  right: -10%;
  position: absolute;
  top: 0;
  transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  width: 45%;
  z-index: -1;
}

.subscribe {
  text-align:center;
}
.subscribe h1 {
  margin:0px;
  padding-top:20px;
}
.subscribe h4 {
  margin: 10px 0px 20px 0px;
  color: #f9f9f9;
}
.subscribe input {
  border: 1px solid transparent;
  box-shadow: none;
  font-size: 14px;
  line-height: 20px;
  color: #1e1e1e;
  padding: 7px 14px;
  min-width: 20%;
  margin-bottom: 30px;
}
.subscribe button {
  background-color:#aaa;
  font-size:14px;
  line-height:20px;
  font-weight:bold;
  color:#ffffff;
  padding:8px 16px;
  border:none;
  margin-left:-5px;
}

/* ---------- OUR LASTEST WORK SECTION  ---------- */
  .ulockd-our-ltst-work{
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .ulockd-pmz {
    margin: 0;
    padding: 0;
  }
  .ulockd-lwork-overlay::before {
    border-bottom: 80px solid #14b8fd;
    border-left: 80px solid transparent;
    bottom: 0;
    content: "";
    display: inline-table;
    left: 0;
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }
  .ulockd-lwork-overlay::after {
    border-right: 80px solid transparent;
    border-top: 80px solid #14b8fd;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }
  .ulockd-lwork-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 20px;
    left: 20px;
    margin: auto;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .ulockd-lwork-thumb:hover .ulockd-lwork-overlay {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
  .ulockd-lwork-overlay > h3{
    color: #fff;
    margin-top: 75px;
  }

/* ---------- FUNFACT COUNTER SECTION  ---------- */
  .ulockd-ffact {
    position: relative;
  }
  .ulockd-ffact span {
    bottom: -55%;
    color: #fff;
    font-size: 80px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
  }
  .ulockd-ffact > p {
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .ulockd-ffact .timer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 24px;
  }

/* ---------- ABOUT SECTION  ---------- */
  .ulockd-about-two {
    background-attachment: scroll !important;
    background-color: transparent;
    background-image: url("../images/pattern/p1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    padding-top: 90px;
    position: relative;
  }
  .ulockd-about-two::before {
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .ulockd-abouttwo-details > h2 {
    color: #313131;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0;
  }
  .ulockd-abouttwo-details p {
    color: #313131;
  }
  .ulockd-abouttwo-details .ulockd-about-para {
    margin-bottom: 30px;
  }
  .ulockd-ffact-two {
    position: relative;
    margin-top: 25px;
    z-index: 999;
  }
  .ulockd-ffact-two .ulockd-icon-let {
    border: 1px solid #fff;
    color: #fff;
    float: left;
    font-size: 24px;
    line-height: 24px;
    margin-right: 30px;
    padding: 16px 18px;
  }
  .ulockd-ffact-two > p {
    color: #313131;
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .ulockd-ffact-two .timer {
    color: #808080;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
  }

/* ---------- About BOTTOM VIDEO SECTION  ---------- */
  .ulockd-fector-about-video{
    margin-top: 12px;
  }

/* ---------- MASONRY FILTER  ---------- */
  .masonry-filter {
    margin-bottom: 50px;
  }
  .masonry-filter > li {
    padding-right: 0;
  }
  .masonry-filter a {
    border: 1px solid #ddd;
    color: #555555;
    display: inline-block;
    float: none;
    line-height: 40px;
    margin-bottom: 10px;
    margin-right: -10px;
    outline: medium none;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .masonry-filter a.active,
  .masonry-filter a:active,
  .masonry-filter a:hover,
  .masonry-filter a:focus {
    color: #ffffff;
  }
  .masonry-filter a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px;
  }
  /* ---------- MASONRY GALLERY  ---------- */
.masonry-gallery .isotope-item {
  width: 25%;
}
.masonry-gallery.grid-3 .isotope-item {
  width: 33.333%;
}
.masonry-gallery.grid-4 .isotope-item {
  width: 25%;
}
.masonry-gallery.grid-5 .isotope-item {
  width: 20%;
}
.masonry-gallery.grid-6 .isotope-item {
  width: 16.666%;
}
.masonry-gallery.grid-7 .isotope-item {
  width: 14.285%;
}
.masonry-gallery.grid-8 .isotope-item {
  width: 12.5%;
}
.masonry-gallery.grid-9 .isotope-item {
  width: 11.111%;
}
.masonry-gallery.grid-10 .isotope-item {
  width: 10%;
}
.masonry-gallery .isotope-item {
  overflow: hidden;
}
.masonry-gallery .isotope-item .thumb {
  position: relative;
  overflow: hidden;
}
.masonry-gallery .isotope-item .thumb .photo {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1200ms ease 0s;
  -moz-transition: all 1200ms ease 0s;
  -ms-transition: all 1200ms ease 0s;
  -o-transition: all 1200ms ease 0s;
  transition: all 1200ms ease 0s;
}
.lbox-caption {
  display: table;
  height: 100%;
  width: 100%;
}
.lbox-details {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.lbox-details > h4,
.lbox-details > h5,
.lbox-details > p {
  color: #fff;
  margin-bottom: 20px;
}
.ulockd-gallery-slider .gs-thumb {
  position: relative;
  overflow: hidden;
}
.gallery-overlay {
  background-color: rgba(20, 184, 253, 0.6);
  border: 10px solid #fff;
  bottom: 10px;
  left: 10px;
  position: absolute;
  right: 10px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 10px;
}
.ulockd-gallery-slider .item:hover {
  cursor: pointer;
}
.ulockd-gallery-slider .item:hover .gallery-overlay {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-overlay a span {
  color: #fff;
  font-size: 33px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 40%;
}
.ulockd-gallery-slider .owl-next {
  right: 0;
}
 .ulockd-gallery-slider .owl-prev{
  left: 0;
}
.ulockd-gallery-slider .owl-prev,
.ulockd-gallery-slider .owl-next {
  font-size: 24px !important;
  padding: 10px 15px !important;
  position: absolute;
  top: 35%;
}

/* ---------- PROJECT LAYOUT TWO  ---------- */
.gallery-thumb {
  margin: 1px;
}
.gallery-thumb .overlayer{
  background-color: rgba(164, 203, 58, 0.80);
  bottom: 0;
  height: 96%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 96%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.gallery-thumb .overlayer > h3,
.gallery-thumb .overlayer > h4,
.gallery-thumb .overlayer > h5,
.gallery-thumb .overlayer > p {
  color: #fff;
}
.gallery-thumb .overlayer i {
  color: #ffffff;
  font-size: 30px;
  left: 0;
  line-height: 45px;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
.gallery-thumb:hover .overlayer{
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-thumb:hover .thumb .photo {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.lbox-caption a {
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 18px;
  padding: 8px 12px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.lbox-caption a:hover {
  background-color: #fff;
}
.lbox-caption a:hover span {
  color: #333;
}
.lbox-caption span {
  color: #fff;
}

/* ---------- OUT TEAM SECTION  ---------- */
  .ulockd-team{
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .ulockd-team-title {
    position: relative;
    margin-bottom: 70px;
  }
  .ulockd-team-title:hover {
    cursor: pointer;
  }
  .ulockd-team-title.ulockd-ipage {
    padding-bottom: 40px;
  }
  .ulockd-team-title h2 {
    color: #111;
    margin-top: 0;
  }
  .ulockd-teampz {
    padding: 0;
  }
  .ulockd-tm-thumb{
    position: relative;
    overflow: hidden;
  }
  .ulockd-team-member {
    cursor: pointer;
  }
  .ulockd-team-member:hover .ulockd-tm-overlay {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
  .ulockd-tm-overlay{
    background-color: rgba(164, 203, 58, 0.80);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .ulockd-tm-overlay > a{
    border: 2px solid #fff;
    color: #fff;
    font-size: 24px;
    left: 0;
    margin: 0 auto;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 45%;
    width: 25%;
  }
  .ulockd-tm-details {
    color: #fff;
    padding: 15px 20px;
  }
  .ulockd-tm-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
  }
  .ulockd-tm-post {
    font-family: 'Open Sans', sans-serif;
  }
  .ulockd-tm-details > p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
  }
  .ulockd-tm-details .social-linked a {
    border: 1px solid transparent;
    color: #fff;
  }
  .ulockd-tm-details .social-linked a:hover {
    border: 1px solid #fff;
  }
/* ---------- TEAM DETAILS  ---------- */
h2.title-inner {
  margin-bottom: 25px;
}
.ulockd-tm-overlay.style2 {
  background-color: rgba(20, 184, 253, 0.9);
  color: #fff;
  padding: 10px 20px;
}
.ulockd-tm-overlay.style2 .ulockd-tm-name {
  margin-top: 30%;
}
.ulockd-tm-overlay.style2 p {
  font-size: 16px;
}

/* Career Page Css */
.ulockd-career {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* PROGRESS BAR */
.progress-levels {
  position: relative;
}
.progress-levels .progress-box {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}
.progress-levels .progress-box .inner {
  background-color: #eeeeee;
}
.progress-levels .progress-box .bar {
  position: relative;
  height: 5px;
}
.progress-levels .progress-box .bar .bar-innner {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 4px;
}
.progress-levels .progress-box .bar .bar-fill {
  position: absolute;
  left: -100%;
  top: 0px;
  width: 0px;
  height: 10px;
  border-radius: 2px;
  -webkit-transition: all 2000ms ease 300ms;
  -o-transition: all 2000ms ease 300ms;
  transition: all 2000ms ease 300ms;
}
.progress-levels .progress-box.animated .bar .bar-fill {
  left: 0px;
}
.progress-levels .progress-box.animated .percent {
  opacity: 1;
}
.progress-levels .progress-box .percent {
  position: absolute;
  right: 0px;
  text-align: center;
  top: -35px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  color: #ccc !important;
  line-height: 26px;
  opacity: 0;
  -webkit-transition: all 2000ms ease 700ms;
  -o-transition: all 2000ms ease 700ms;
  transition: all 2000ms ease 700ms;
}
.progress-levels:last-child {
  margin-bottom: 0px;
}
.progress-levels .box-title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* ---------- OUT TEAM LAYOUT TWO SECTION  ---------- */
.ulockd-team-two{
  padding-bottom: 120px;
  padding-top: 120px;
}
.ulockd-team-title {
  position: relative;
  margin-bottom: 70px;
}
.ulockd-team-title:hover {
  cursor: pointer;
}
.ulockd-team-title h2 {
  color: #111;
  margin-top: 0;
}
.ulockd-teampz {
  padding: 0;
}
.ulockd-team-two-member:hover .ulockd-team-two-mdetails{
  bottom: 0;
}
.ulockd-tm-thumb{
  position: relative;
  overflow: hidden;
}
.ulockd-team-two-mdetails {
  bottom: -51%;
  color: #fff;
  left: 0;
  padding: 12px 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.ulockd-team-two-mdetails > p {
  font-size: 12px;
  line-height: 20px;
  margin-top: 12px;
}
.ulockd-tm-sicon {
  bottom: 0;
  left: 0;
  margin-bottom: -11px;
  margin-top: 13px;
  padding: 10px 8px;
  right: 0;
}
.ulockd-tm-sicon li {
  color: #fff;
  padding: 0;
  margin: 0;
}
.ulockd-tm-sicon li a {
  border: 1px solid transparent;
  color: #fff;
  font-size: 16px;
  padding: 3px 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ulockd-tm-sicon li a:hover {
  border: 1px solid #fff;
  color: #fff;
}
.ulockd-tm-fpm{
  padding: 10px 0 10px;
}
.ulockd-tm-fpm:hover {
  cursor: pointer;
}
.ulockd-tm-fpm > li {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ulockd-tm-fpm > li:hover {
  color: #313131;
}
.ulockd-bgthm {
  background-color: #14b8fd;
}
.ip-bb {
  border: 1px solid #ccc;
  padding: 10px 20px;
}
.ulockd_bgc_f7 {
  background-color: #f7f7f7;
}
.ulockd-bttc {
  border-top:1px solid #14b8fd;
}
.title-inner {
  position: relative;
}
.after-line:before {
  position: absolute;
}
.after-line:before {
  background-color: #064e3e;
  bottom: -10px;
  content: "";
  height: 2px;
  position: absolute;
  width: 80px;
}

/* ---------- OUR TESTIMONIALS SECTION  ---------- */
.ulockd-testimonials > p{
  margin-bottom: 40px;
  text-transform: capitalize;
}
.ulockd-testi-title{
  margin-top: 0px;
}
.ulockd-testimonial-carousel .item .media {
  background-color: #fff;
  border: 1px solid #14b8fd;
  box-shadow: 4px 5px 2px #eee;
  -webkit-box-shadow: 4px 5px 2px #eee;
  -moz-box-shadow: 4px 5px 2px #eee;
  -o-box-shadow: 4px 5px 2px #eee;

  padding: 5px;
}
.ulockd-testimonial{
  background-color: #f7f7f7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  padding-top: 120px;
}
.ulockd-testimonial-title {
  position: relative;
  margin-bottom: 70px;
}
.ulockd-testimonial-title:hover {
  cursor: pointer;
}
.ulockd-testimonial-title h2 {
  margin-top: 0;
}
.ulockd-testimonial-title .ulockd-testimonial-hdr-icon {
  font-size: 80px;
  left: 0;
  margin: 0 auto;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: -45px;
}
.ulockd-testimonial-carousel .owl-controls .owl-prev,
.ulockd-testimonial-carousel .owl-controls .owl-next {
  background-color: #313131;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ulockd-testimonial-carousel .owl-controls .owl-prev:hover,
.ulockd-testimonial-carousel .owl-controls .owl-next:hover{
  background-color: #14b8fd;
}
.ulockd-tsmnl {
  background-color: #fff;
  box-shadow: 0 6px 10px -2px #ddd;
  -webkit-box-shadow: 0 6px 10px -2px #ddd;
  -moz-box-shadow: 0 6px 10px -2px #ddd;
  -o-box-shadow: 0 6px 10px -2px #ddd;
  padding: 15px 25px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ulockd-tsmnl:hover {
  cursor: pointer;
}
.ulockd-tsmnl .testi-thumb {
  margin-right: 2%;
  margin-top: -15%;
}

/* ---------- BLOG SECTION  ---------- */
.ulockd-blog{
  background-color: #f0f5f7;
  padding-bottom: 100px;
  padding-top: 100px;
}
.ulockd-blog-post {
  background-color: #fff;
}
.ulockd-blog-post:hover {
  cursor: pointer;
}
.ulockd-bp-details {
  background-color: #fff;
  padding: 10px 15px 20px;
}
.ulockd-blog-title {
  position: relative;
  margin-bottom: 70px;
}
.ulockd-blog-title:hover {
  cursor: pointer;
}
.ulockd-blog-title h2 {
  color: #111;
  margin-top: 0;
}
.ulockd-bpost {
  margin-top: 10px;
}
.ulockd-blog-post.style1 {
  box-shadow: 0 6px 10px -2px #ddd;
  -webkit-box-shadow: 0 6px 10px -2px #ddd;
  -moz-box-shadow: 0 6px 10px -2px #ddd;
  -o-box-shadow: 0 6px 10px -2px #ddd;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ulockd-blog-post.style1:hover {
  cursor: pointer;
}
.ulockd-blog-post.style1 .ulockd-bp-thumb {
  margin-bottom: -20px;
  margin-left: 3%;
  margin-right: 15px;
  margin-top: -30%;
  overflow: hidden;
  position: relative;
}
.ulockd-blog-post.style1 .ulockd-bp-thumb .bp-overlay {
  background-color: rgba(255,255,255, .8);
  bottom: 25px;
  font-size: 18px;
  position: absolute;
  padding: 5px 15px;
  right: 0;
  text-align: center;
}
.ulockd-blog-title .ulockd-blog-hdr-icon {
  font-size: 80px;
  left: 0;
  margin: 0 auto;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: -45px;
}
.ulockd-bpost-date {
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
}
.ulockd-blog-post-comment {
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  padding-bottom: 7px;
}
.ulockd-bpost-date span {
  font-family: "Montserrat",sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.ulockd-bp-title > h3 {
  color: #232323;
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  margin-top: 15px;
}
.ulockd-bp-btn {
  font-family: "Montserrat",sans-serif;
  padding-bottom: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ulockd-bp-btn:hover {
  color: #14b8fd;
}
.ulockd-l2-bp-btn {
  /* LAYOUT TWO */
  border-bottom: 1px solid #7e7e7e;
  color: #7d7d7d;
  font-family: "Montserrat",sans-serif;
  padding-bottom: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ulockd-bp-details.style2:hover {
  cursor: pointer;
}
.ulockd-bp-details.style2:hover .ulockd-bp-title h3 {
  color: #14b8fd;
}
/* BLOG LAYOUT THREE */

.ulockd-blog-post.style2 .ulockd-bp-thumb .bp-overlay {
  background-color: rgba(255,255,255, .8);
  font-size: 18px;
  position: absolute;
  padding: 5px 15px;
  left: 0;
  text-align: center;
  top: 5%;
}

/* ---------- CONTACT SECTION  ---------- */
.ulockd-contact{
  padding-bottom: 100px;
  padding-top: 100px;
}

/* ---------- PARTNER SECTION  ---------- */
.ulockd-partner {
  border-bottom: 1px solid #f2bd2e;
  padding-bottom: 60px;
  padding-top: 60px;
}
.ulockd-partner-thumb img {
  opacity: .5;
}
.ulockd-partner-thumb:hover img  {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
/* Layout Two */
.ulockd-partner {
  padding-bottom: 60px;
  padding-top: 60px;
}

/* ---------- FOOTER SECTION  ---------- */
.ulockd-footer {
  background-color: #222;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.ulockd-footer::before {
  background: #2c2c2c none repeat scroll 0 0;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
}
.ulockd-footer.style2::before {
  background-color: transparent;
}
.ulockd-footer-logo {
  margin-bottom: 20px;
  margin-top: 20px;
}
.ulockd-footer-log {
  margin-bottom: 20px;
  margin-top: 20px;
}
.ulockd-ftr-text {
  color: #ccc;
}
.ulockd-footer-newsletter .title {
  color: #fff;
  margin-top: 30px;
}
.ulockd-footer-newsletter .input-group{
  background-color: #243240;
  border: 1px solid #243240;
}
.ulockd-media-box:hover{
  cursor: pointer;
}
.ulockd-media-box .post-date {
  color: #fff;
}
.ulockd-media-box .media-heading {
  color: #999999;
}
.ulockd-media-box .media-body > p {
  color: #eee;
}
.ulockd-mailchimp input {
  background-color: #243240;
  border: 1px solid transparent;
}
.ulockd-mailchimp button {
  color: #fff;
}
.ulockd-footer-fst-col {
  padding-right: 10px;
}
.ulockd-footer-fst-col > p{
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}
.ulockd-footer-font-icon > li{
  padding-right: 0;
}
.ulockd-footer-font-icon a {
  border: 1px solid;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 12px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ulockd-footer-font-icon a:hover {
  background-color: #000;
}
/* Footer contact Widget */
.ulockd-footer-contact h3,
.ulockd-footer-lnews h3,
.ulockd-footer-flickr h3,
.ulockd-footer-qlink h3,
.ulockd-footer-twitter h3,
.ulockd-footer-flickr h3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 27px;
}
.ulockd-footer-flickr li .thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.ulockd-footer-flickr li .thumb .overlay {
  background-color: rgba(20, 184, 253, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  top: 0;
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ulockd-footer-flickr li .thumb:hover .overlay {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}
.ulockd-footer-flickr .thumb .overlay span {
  color: #fff;
  font-size: 20px;
  left: 0;
  position: absolute;
  right: 0;
  top: 35%;
}
.ulockd-footer-flickr .thumbnail {
  margin-bottom: 0;
}
.ulockd-footer-twitter h4 {
  color: #fff;
}
.ulockd-footer-twitter p {
  color: #eee;
}
.ulockd-footer-contact > p {
  color: #eee;
  margin-bottom: 20px;
}
.ulockd-ftr-phone, .ulockd-ftr-fax, .ulockd-ftr-mail {
  color: #eee;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.ulockd-ftr-phone > span,
.ulockd-ftr-fax > span,
.ulockd-ftr-mail > span,
.ulockd-ftr-phone > a,
.ulockd-ftr-fax > a,
.ulockd-ftr-mail > a  {
  color: #eee;
}
/* Calendar */
#calendar {
  max-width: 900px;
  margin: 0 auto;
}
/* Footer Quick Link Widget */
.ulockd-footer-qlink .list-unstyled li span {
  padding-right: 10px;
}
.ulockd-footer-qlink .list-unstyled li a {
  color: #eee;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.ulockd-footer-qlink .list-unstyled li a:hover{
  color: #fff;
  padding-left: 10px;
}
/* Footer Flickr Widget */
.ulockd-flickr-widget > li {
  margin-bottom: 6px;
  margin-right: -5px;
}

/* Footer Copyright Text */
.ulockd-copy-right {
  background-color: #313131;
  color: #fff;
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;
}
.ulockd-copy-right p {
  font-size: 12px;
}
/* Footer Copyright Layout two Text */
.ulockd-l2-copy-right {
  color: #fff;
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;
}

/* INNER PAGES START HERE */
.ulockd-inner-home {
  background-image: url("../images/background/inner-pagebg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  padding-top: 120px;
  position: relative;
}
.ulockd-inner-home::before {
  background-color: rgba(42, 42, 42, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.ulockd-icd-layer {
  margin-top: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}
.ulockd-icd-layer::before {
  content: "";
  height: 100%;
  left: -50%;
  position: absolute;
  right: -50%;
  top: 0;
  z-index: 0;
}
.ulockd-inner-conraimer-details h1,
.ulockd-icd-sub-menu > li a {
  color: #fff;
  position: relative;
}
/* APPOINTMENT FORM STYLE */
.appointment_form{
  background-color: #f3f3f3;
  padding: 15px 35px;
}
.appointment_form input{
  border-radius: 0;
  box-shadow: none;
  height: 40px;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all, .ui-timepicker-list .ui-timepicker-selected:hover, .ui-timepicker-list li:hover, li.ui-timepicker-selected{
  color: #fff;
}
.ulockd-apmnmnt-schedule {
  border: 1px solid #e8e8e8;
  padding: 10px 15px;
  text-align: center;
}
.ulockd-mrgn1260 {
  margin-top: 60px;
}
.ulockd-mrgn12100 {
  margin-top: 100px;
}
.ulockd-mrgn1215 {
  margin-top: 15px;
}
table.table.ulockd-one {
  border: 1px solid #e8e8e8;
}
table.table.ulockd-one h3 {
  margin-top: 0;
}
table.table.ulockd-two {
  border: 1px solid #e8e8e8;
}
table.table.ulockd-two h3 {
  margin-top: 0;
}
.table.ulockd-one>tbody>tr>td,
.table.ulockd-one>tbody>tr>th,
.table.ulockd-one>tfoot>tr>td,
.table.ulockd-one>tfoot>tr>th,
.table.ulockd-one>thead>tr>td,
.table.ulockd-one>thead>tr>th {
  text-align: center;
}

/* BOOKING FORM STYLE */
.booking_form{
  background-color: #f3f3f3;
  padding: 0 35px 5px;
}
.booking_select,
.booking_form input{
  border-radius: 0;
  box-shadow: none;
  height: 45px;
}

/* ERROR PAGE OR 404 PAGE */
.ulockd-error {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 345px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 5px;
}
.ulockd-error-paragraph {
  color: #fff;
  font-size: 36px;
  line-height: 48px;
}
/* COMING SOON PAGES */
.ulockd-csoon {
  color: #fff;
  font-size: 100px;
}
.ulockd-coming-soon,
.ulockd-uconctruction {
  background-image: url("../images/resource/inner-pagebg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 250px;
}
.ulockd-coming-soon::before,
.ulockd-uconctruction::before {
  background-color: rgba(10, 132, 184, 0.8);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.timeTo figcaption {
  color: #fff;
}
/* UNDER CONSTRUCTION PAGES */
.ulockd-uconctruction {
  padding-bottom: 200px;
  padding-top: 200px;
}
.ulockd-uconctruction-ttl{
  color: #fff;
  font-size: 100px;
}
.ulockd-uconctruction-paragraph {
  color: #fff;
  font-size: 36px;
  line-height: 48px;
}
/* SITEMAP PAGE */
.ulockd-site-map{
  background-image: url("../images/pattern/p3.html");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  padding-top: 120px;
}
.ulockd-site-map::before {
  background-color: rgba(255, 255, 255, 0.95);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ulockd-sitemap > li {
  font-size: 18px;
  line-height: 30px;
  padding: 5px;
}
.ulockd-sitemap > li a {
  color: #313131;
  text-transform: uppercase;
}

/* FLIP CLOCK */
.ulockd-flip-clock .clock{
  padding-left: 50px;
}
.ulockd-flip-clock .clock .flip-clock-label{
  color: #fff;
  font-size: 18px;
}

/* PRICING TABLE */
.ulockd-pricing {
  padding-bottom: 120px;
  padding-top: 120px;
}
.ulockd-padd35 {
  padding-right: 5px;
}
.ulockd-pad120 {
  padding-top: 0px;
}
.ulockd-pad1210 {
  padding-top: 10px;
}
.ulockd-pad1215 {
  padding-top: 15px;
}
.ulockd-pad30 {
  padding-right: 0px;
}
.ulockd-pad310 {
  padding-right: 10px;
}
.ulockd-pad315 {
  padding-right: 15px;
}
.ulockd-pad90 {
  padding-left: 0;
}
.ulockd-pad95 {
  padding-left: 5px;
}
.ulockd-pad910 {
  padding-left: 10px;
}
.ulockd-pad30 {
  padding-right: 0;
}
.ulockd-pad35 {
  padding-right: 5px;
}
.ulockd-pad395 {
  padding-left: 5px;
  padding-right: 5px;
}
.ulockd-pad3915 {
  padding-left: 15px;
  padding-right: 15px;
}
.ulockd-pad392 {
  padding-left: 2px;
  padding-right: 2px;
}
.ulockd-pad123692 {
  padding-left: 2px;
  padding-right: 2px;
}
.ulockd-pad390 {
  padding-left: 0px;
  padding-right: 0px;
}
.ulockd-pricing-mtitle {
  position: relative;
  margin-bottom: 80px;
}
.ulockd-pricing-table {
  background-color: #f0f5f7;
  padding: 15px 25px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ulockd-pricing-table:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.ulocked-pricing-header {
  position: relative;
}
.ulocked-pricing-header .title {
  padding-top: 25px;
}
.ulocked-pricing-header .title sup {
  font-size: 30px;
}
.ulocked-pricing-tag {
  border-radius: 50%;
  padding: 10px 20px;
  position: absolute;
  top: -93px;
}
.ulocked-pricing-tag span {
  font-size: 60px;
  color: #fff;
}
.ulocked-pricing-details ul li {
  padding: 8px;
}
.ulocked-pricing-details ul li:first-child {
  margin-top: 40px;
}
.ulocked-pricing-details ul li:last-child {
  border-bottom: 1px solid transparent;
}
.ulocked-pricing-details ul li a {
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.ulocked-pricing-details a {
  margin-top: 20px;
}
.ulockd-padd395 {
  padding-left: 5px;
  padding-right: 5px;
}
.ulockd-mrgb35 {
  margin-right: 5px;
}
.ulockd-padd95 {
  padding-left: 5px;
}
/* SHOP PAGE */
.ulockd-shop {
  padding-top: 120px;
  padding-bottom: 120px;
}
.ulockd-shop-menubar {
  background-color: #f5f5f5;
  padding-bottom: 15px;
  padding-top: 15px;
}
.ulockd-product-searchbar .form-control {
  height: 40px;
  border-radius: 0;
  box-shadow: none;
}
.ulockd-product-searchbar button {
  height: 40px;
  border-radius: 0;
}
.ulockd-shop-item {
  background-color: #f0f5f7;
  border: 1px solid  #f0f5f7;
  margin-bottom: 40px;
}
.ulockd-shop-item:hover {
  cursor: pointer;
}
.ulockd-product-img {
  position: relative;
}
.price-tag {
  color: #fff;
  font-size: 16px;
  left: 0;
  padding: 5px 8px;
  position: absolute;
  top: 0;
}
.ulockd-product-details {
  padding: 10px 12px 20px;
}
/* Product Details */
.ulockd-product-details-img {
  border: 3px solid #f0f5f7;
}
.ulockd-pd-tab .nav-tabs li a{
  font-size: 18px;
}
.ulockd-pd-tab .tab-content p {
  font-size: 16px;
}

/* Shopping cart page */
.ulockd-shopping-cart table.table {
  background-color: #f0f5f7;
}
.ulockd-shopping-cart table.table th {
  font-size: 18px;
  padding: 15px;
  text-align: center;
}
.ulockd-shopping-cart table.table td,
.ulockd-shopping-cart table.table td {
  font-size: 16px;
  padding-top: 5%;
  text-align: center;
}
.ulockd-shopping-cart table.table td .form-control {
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  width: 100%;
}
.ulockd-shopping-cart.style2 table.table td.cart {
  font-size: 16px;
  padding-top: 1%;
  text-align: center;
}
/* Cart Total */
.ulockd-cart-total {
  background-color: #f0f5f7;
}
.ulockd-cart-total table.table th,
.ulockd-cart-total table.table td {
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
/* BILLING FORM */
.ulockd-billing-form form .form-control,
.ulockd-billing-information form .form-control {
  border-radius: 0;
  box-shadow: none;
  height: 40px;
}
.ulockd-billing-form,
.ulockd-billing-information {
  background-color: #f0f5f7;
  padding: 15px 25px;
  margin-bottom: 50px;
  margin-top: 35px;
}
.ulockd-billing-information button {
  float: right;
  margin-right: 15px;
}
.ulockd-payment-way {
  border: 3px solid #f0f5f7;
  padding: 15px 20px;
}
.ulockd-padr315 {
  padding-right: 15px;
}
/* TWITTER FEED CUSTOM SCRIPT */
.twitter ul li {
  color: #f7f7f7;
  margin-bottom: 20px;
}
/* Shortcode */

.barfiller {
  width: 100%;
  height: 12px;
  background: #fcfcfc;
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 20px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}
.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #333;
  z-index: 1;
}
.barfiller .tipWrap { display: none; }
.barfiller .tip {
  margin-top: -30px;
  padding: 2px 4px;
  font-size: 11px;
  color: #fff;
  left: 0px;
  position: absolute;
  z-index: 2;
  background: #333;
}
.barfiller .tip:after {
  border: solid;
  border-color: rgba(0,0,0,.8) transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9
}
